/************** Fonts **************/
@font-face {
	font-family: OpenSansBold;
	src: url("OpenSans-Bold.ttf");
}

@font-face {
	font-family: OpenSansRegular;
	src: url("OpenSans-Regular.ttf");
}

div.container {
	width: 60%;
	margin: auto;
	margin-bottom: 0px;
}

body {
	background-color: #f2f3f4;
	font-family: OpenSansRegular;
	font-size: 14px;
}

header,
footer {
	padding: 10px;
	color: white;
	background: linear-gradient(#8740f2, #6410e2);
	clear: left;
	width: 60%;
	margin: auto;
}

h2,
h3 {
	font-family: OpenSansBold;
}

footer {
	font-size: 12px;
	text-align: center;
}

.msgLog {
	/* max-height: 60%; */
	/* margin-top: 10px;*/
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 10px;
	width: auto;
	max-height: 60%;
	overflow: auto;
	color: rgb(0, 0, 0);
	border: 1px solid #d6d9dc;
	background-color: white;
	justify-content: left;
}

.main-flex-container {
	background-color: #e1d0fb;
	display: flex;
	padding: 10px;
	margin: auto;
	flex-direction: column;
	width: 60%;
	border: 1px solid #d6d9dc;
}

.main-flex-container > div {
	align-content: center;
}

.header-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.receiver-flex-container {
	display: flex;
	flex-flow: row wrap;
	background-color: #f0e7fd;
	padding: 10px;
}

.receiver-flex-container > div {
	background-color: #f0e7fd;
	margin: 5px;
}

.input-flex-container {
	display: flex;
	flex-flow: row;
	background-color: #f0e7fd;
}

.input-flex-container > div {
	background-color: #f0e7fd;
	border: 0px solid black;
}

#textbox img {
	margin: auto;
}

#textbox {
	margin-top: auto;
	margin-bottom: auto;
}

textarea,
input,
button {
	padding: 10px;
	margin: 5px;
	resize: none;
	border-radius: 15px;
	font-family: OpenSansRegular;
	transition-duration: 0.4s;
}

input,
button {
	background-color: #6410e2;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
}

button {
	font-family: OpenSansBold;
}

button:hover {
	background-color: #ff7640;
}

textarea:focus,
input:focus {
	outline: none;
}

input[type="text"] {
	background-color: white;
	color: black;
	border: 1px solid rgb(169, 169, 169);
	text-align: left;
}

textarea {
	width: calc(50vw - 0px);
	border-radius: 25px;
}

#TXT {
	width: calc(50vw - 0px);
	border-radius: 25px;
	background-color: white;
	border: 1px solid rgb(169, 169, 169);
	color: black;
	text-align: left;
	text-decoration: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* scrollbar */
::-webkit-scrollbar-track {
	background: #eeeeee;
	margin-right: 5px;
}

::-webkit-scrollbar-thumb {
	background: #b488f7;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #9658f3;
}

/* nav menu */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: OpenSansBold;
}

li a:hover {
	color: #ff9166;
}

#about {
	border-radius: 0px;
	width: 180px;
	padding: 10%;
	font-size: 20px;
	font-family: OpenSansRegular;
	transition-duration: 0.4s;
}

button:focus {
	outline: 0;
}

#about:hover {
	background-color: white;
	color: #ff7640;
	outline: 3px solid #ff7640;
	outline-offset: -2px;
	font-weight: bold;
}

.about-flex-container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	padding: 5px;
	margin: auto;
	width: 90%;
	justify-content: center;
	align-items: center;
}

.letter {
	color: #6410e2;
}

h2,
h3 {
	text-align: center;
	font-family: OpenSansRegular;
}

a {
	color: #6410e2;
	text-decoration: none;
	font-family: OpenSansBold;
}

a:hover {
	color: #ff9166;
	font-family: OpenSansBold;
}
